<template>
  	<div class="work_container">
        <div class="work_container_bg">
            <Steps v-bind:activeId='workIndex'></Steps>
        </div>
        <WorkList v-bind:errorMes='errorMes'></WorkList>
        <div class="roll_button" @click='next'>下一步</div>
        <div class="prev_button" @click='prev'>上一步</div>
    </div>
</template>

<script>
import Steps from '../../components/Steps.vue';
import WorkList from '../../components/WorkList.vue';
import { mapState, mapActions } from 'vuex';
export default {
	name: 'work',
    components: {
        Steps,
        WorkList
    },
    data() {
		return {
            errorMes: false
		}
	},
    computed: {
        workIndex: {
            get() {
                if (this.$store.state.name) {
                    return 2
                    this.errorMes = false;
                } else {
                    // this.errorMes = true;
                    return 1
                }
            },

        }
    },
    methods: {
        next() {
            if (this.workIndex == 2) {
                this.$router.push(`/info/${this.$route.params.id}`);
            } else {
                this.errorMes = true;
            }
        },
        prev() {
            this.$router.push(`/home/${this.$route.params.id}`);
        }
    },
    created() {
        if (!this.$store.state.initDataList) {
            this.$router.push(`/${this.$route.params.id}`);
        }
    }
}
</script>

<style lang="less" scoped>
    .work_container{
        // background-color: #F6F6F6;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        .work_container_bg{
            background-color: #F6F6F6;
            height: 7.5rem;
            box-sizing: border-box;
            float: left;
            width: 100%;
            // padding-top: 0.8333333rem;
        }
        .roll_button{
            width: 84%;
            margin: 0 auto;
            margin-bottom: 3rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            font-size: 1.7rem;
            color: #FFFFFF;
            background: #31425E;
            border-radius: 5px;

        }
        .prev_button{
            width: 84%;
            margin: 0 auto;
            margin-bottom: 3rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            font-size: 1.7rem;
            color: #31425E;
            border-radius: 5px;
            border: 1px solid #31425E;
        }
    }
</style>
