<template>
  	<div class="home_container">
        <Steps v-bind:activeId='oneIndex'></Steps>
        <div class="school_name">{{$store.state.initDataList && $store.state.initDataList.name}}</div>
        <Roll v-on:homeHandleSelect='handleSelectTab'></Roll>
        <div class="select_year" @click='handleYear' v-bind:class="{ 'marginBot' : !errorMes}">
            <span class="select_year_left mandatory_icon">入学年份</span>
            <div class="select_year_right">{{$store.state.year || '请选择'}}</div>
        </div>
        <div class="err" v-if="errorMes">*学籍信息和入学时间不允许为空！</div>
        <div class="roll_button" @click='next'>下一步</div>
        <HomeModel v-if='model' v-on:homeHandleSelect='handleSelectTab'></HomeModel>
        <InfoYear v-if="isYear" v-on:homeHandleYear='handleYear'></InfoYear>

    </div>
</template>

<script>
import Steps from '../../components/Steps.vue';
import Roll from '../../components/Roll.vue';
import HomeModel from '../../components/HomeModel.vue';
import InfoYear from '../../components/InfoYear.vue';
import { mapState, mapActions } from 'vuex';
export default {
	name: 'home',
    components: {
        Steps,
        Roll,
        HomeModel,
        InfoYear
    },
    data() {
		return {
			model: false,
            // oneIndex: 0,
            isYear: false,
            errorMes: false
		}
	},
    computed: {
        ...mapState([
    	  	'year', 'initDataList', 'oneIndex'
    	]),
        // oneIndex: {
        //     get() {
        //         if (this.$store.state.year && (this.$store.state.rolls && this.$store.state.rolls.addressBooks) && (this.$store.state.rolls && this.$store.state.rolls.addressBooks && this.$store.state.rolls.addressBooks.id)) {
        //             this.errorMes = false;
        //             return 1
        //         } else {
        //             return 0
        //         }
        //     }
        // }
    },
    // computed: {
    //     oneIndex: {
    //         get() {
    //             if (this.$store.state.name) {
    //                 return 2
    //             } else {
    //                 return 0
    //             }
    //         },
    //         set() {
    //             if (this.$store.state.name) {
    //                 return 2
    //             } else {
    //                 return 0
    //             }
    //         }
    //     }
    // },
    methods: {
        ...mapActions([
            'initData', 'setIndex'
        ]),
        handleSelectTab () {
            this.model = !this.model
        },
        handleYear() {
            this.isYear = !this.isYear
        },
        next() {
            if (this.oneIndex == 1) {
                this.$router.push(`/work/${this.$route.params.id}`);
            } else {
                this.errorMes = true;
            }

        }
    },

    beforeUpdate(){
        if (this.$store.state.year && (this.$store.state.rolls && this.$store.state.rolls.addressBooks) && (this.$store.state.rolls && this.$store.state.rolls.addressBooks && this.$store.state.rolls.addressBooks.id)) {
            this.setIndex(1);
            this.errorMes = false;
        }
    },
    created() {
        if (!this.$store.state.initDataList) {
            this.$router.push(`/${this.$route.params.id}`);
        }
        // this.initData(this.$route.params.id)
    }
}
</script>

<style lang="less" scoped>
    .home_container{
        background-color: #F6F6F6;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        .marginBot{
            margin-bottom: 5rem;
        }
        .select_year{
            height: 4.1666666666rem;
            line-height: 4.1666666666rem;
            clear: both;
            overflow: hidden;
            background: #fff;
            padding: 0 2rem;
            box-sizing: border-box;
            // margin-bottom: 5rem;
            .select_year_left{
                width: 30%;
                float: left;
                font-family: PingFangSC-Regular;
                font-size: 1.33333333rem;
                color: #343C48;
                &.mandatory_icon{
                    padding-left: 0;
                    &:before{
                        display: inline-block;
                        margin-right: 4px;
                        content: "*";
                        font-family: SimSun;
                        line-height: 1;
                        font-size: 12px;
                        color: #F04134;

                    }
                }
            }
            .select_year_right{
                width: 70%;
                float: right;
                text-align: right;
                font-family: PingFangSC-Regular;
                font-size: 1.4rem;
                color: #6A6B6A;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:after{
                    content: '>';
                    margin-left: 0.8rem;
                }
            }
        }
        .roll_button{
            width: 84%;
            margin: 0 auto;
            margin-bottom: 3rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            font-size: 1.7rem;
            color: #FFFFFF;
            background: #31425E;
            border-radius: 5px;

        }
        .school_name{
            font-family: PingFangSC-Medium;
            font-size: 1.5rem;
            color: #343C48;
            text-align: center;
            line-height: 3.75rem;
            margin-top: -0.8333333rem;
        }
        .err{
            font-family: PingFangSC-Regular;
            font-size: 1.2rem;
            color: #EF6450;
            margin-bottom: 5rem;
            margin-top: 1.333333rem;
            padding: 0 2rem;
        }
    }
</style>
