<template>
  	<div class="success_container">
        <div class="successfully">
            <img src="../../images/successfully.png" />
        </div>
        <div class="success_text">
            <h1 class="success_text_title">恭喜您提交成功！</h1>
            <p class="success_text_list">您的宝贵校友资料以及提交给校友办</p>
            <p class="success_text_list">请静候佳音，注意查收短信/邮件</p>
            <p class="success_text_list">我们会及时与您联系，谢谢！</p>
        </div>
        <div class="roll_button" @click='toggleBtn'>转发校友召集令</div>
        <div class="success_title" v-if="share" @click='toggleBtn'></div>
    </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
export default {
	name: 'success',
    components: {

    },
    data() {
        return{
            share: false
        }
    },
    computed: mapState([
	  	'year',
        'initDataList',
    	'name',
    	'title',
    	'work',
    	'phone',
    	'email',
    	'code',
	]),
    methods: {
        toggleBtn() {
            this.share = !this.share;
        },
    },
    created() {
        if (!this.initDataList) {
            this.$router.push(`/${this.$route.params.id}`);
        }
    }
}
</script>

<style lang="less" scoped>
    .success_container{
        background-color: #F6F6F6;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        .success_title{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            overflow: hidden;
            z-index: 9999999;
            background-color: rgba(0, 0, 0, 0.6);
            background-image: url(../../images/share_chat.png);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: top right 20px;
        }
        .successfully{
            width: 12.5rem;
            margin: 0 auto;
            padding-top: 5.8333333rem;
            margin-bottom: 2.5rem;
            box-sizing: border-box;
            img{
                width: 100%;
            }
        }
        .success_text{
            text-align: center;
            margin-bottom: 2.5rem;
            .success_text_title{
                font-family: PingFangSC-Medium;
                font-size: 1.66666666rem;
                color: #343C48;
            }
            .success_text_list{
                font-family: PingFangSC-Regular;
                font-size: 1.333333333rem;
                color: #6A6B6A;
                line-height: 24px;
            }
        }
        .roll_button{
            width: 84%;
            margin: 0 auto;
            height: 3.3333333rem;
            line-height: 3.3333333rem;
            text-align: center;
            font-size: 1.41666666rem;
            color: #FFFFFF;
            background: #31425E;
            border-radius: 5px;

        }

    }
</style>
