<template>
  	<div class="down_container">
        <div class="down_text">
            <h1 class="down_text_title">恭喜您提交成功！</h1>
            <p class="down_text_list">请通过下方二维码或在App Store、</p>
            <p class="down_text_list">安卓市场下载圆桌App，登录后查看</p>
            <p class="down_text_list">其他校友的联系方式及学校动态！</p>
        </div>
        <div class="down_code">
            <div class="down_code_header">
                <p class="down_code_header_text">* 请用已填写手机注册APP，方可注册成功</p>
            </div>
            <div class="down_code_content">
                <img src='../../images/code.png' />
            </div>
        </div>
        <div class="roll_button" @click='toggleBtn'>转发校友召集令</div>
        <div class="down_title" v-if="share" @click='toggleBtn'></div>
    </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
export default {
	name: 'downLoad',
    components: {

    },
    data() {
        return{
            share: false
        }
    },
    computed: mapState([
	  	'year',
        'initDataList',
    	'name',
    	'title',
    	'work',
    	'phone',
    	'email',
    	'code',
	]),
    methods: {
        toggleBtn() {
            this.share = !this.share;
        },
    },
    created() {
        if (!this.initDataList) {
            this.$router.push(`/${this.$route.params.id}`);
        }
    }
}
</script>

<style lang="less" scoped>
    .down_container{
        background-color: #F6F6F6;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        .down_title{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            overflow: hidden;
            z-index: 9999999;
            background-color: rgba(0, 0, 0, 0.6);
            background-image: url(../../images/share_chat.png);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: top right;
        }
        .downfully{
            width: 12.5rem;
            margin: 0 auto;
            padding-top: 5.8333333rem;
            margin-bottom: 2.5rem;
            box-sizing: border-box;
            img{
                width: 100%;
            }
        }
        .down_text{
            text-align: center;
            margin-bottom: 2.5rem;
            .down_text_title{
                font-family: PingFangSC-Medium;
                font-size: 1.66666666rem;
                color: #343C48;
                margin-top: 2.333333rem;
                margin-bottom: 0.83333333rem
            }
            .down_text_list{
                font-family: PingFangSC-Regular;
                font-size: 1.333333333rem;
                color: #6A6B6A;
                line-height: 24px;
            }
        }
        .down_code{
            width: 75%;
            height: 23.8333333rem;
            background: rgba(79,124,199,0.20);
            border: 1px solid #4366A0;
            border-radius: 20px;
            margin: 0 auto;
            margin-bottom: 3.16666rem;
            .down_code_header{
                background: #FFFFFF;
                border-radius: 19px 19px 0 0;
                height: 4.4rem;
                line-height: 4.4rem;
                box-sizing: border-box;
                padding: 0 1rem;
                .down_code_header_text{
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #EF6450;

                }
            }
            .down_code_content{
                background: #FFFFFF;
                border-radius: 15px;
                width: 15.25rem;
                height: 15.25rem;
                margin: 2rem auto;
                padding: 1.525rem;
                box-sizing: border-box;
                img{
                    width: 100%;
                }
            }
        }
        .roll_button{
            width: 84%;
            margin: 0 auto;
            height: 3.3333333rem;
            line-height: 3.3333333rem;
            text-align: center;
            font-size: 1.41666666rem;
            color: #FFFFFF;
            background: #31425E;
            border-radius: 5px;

        }

    }
</style>
