<template>
  	<div class="before_container">
        <div class="before_title">校友召集</div>
        <div class="before_icon">
            <img src="../../images/before.png" />
        </div>
        <div class="before_text">
            <p>{{$store.state.initDataList && $store.state.initDataList.nickName}}邀请你加入清华大学校友会</p>
            <p>请填写校友信息</p>
            <p>和昔日同窗好友共同相聚圆桌吧！</p>
        </div>
        <div class="before_btn" @click='info'>加入校友会</div>
        <div class="before_msg">
            <p><span>友情提示：</span>您填写的手机号请核实并牢记</p>
            <p>将作为您在圆桌与校友交流联络的唯一登录方式。</p>
        </div>
    </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';
export default {
	name: 'before',
    components: {

    },
    computed: mapState([
	  	'initDataList'
	]),
    data() {
        return{
            share: false
        }
    },
    methods: {
        ...mapActions([
            'initData'
        ]),
        info() {
            this.$router.push(`/home/${this.$route.params.id}`);
        },
    },
    created() {
        this.initData(this.$route.params.id)
    }
}
</script>

<style lang="less" scoped>
    .before_container{
        background-color: #FFFDF9;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        .before_title{
            font-family: PingFangSC-Regular;
            font-size: 3.7rem;
            color: #4A4A4A;
            letter-spacing: 0;
            text-align: center;
            margin-top: 6rem;
            margin-bottom: 3rem;
        }
        .before_icon{
            width: 100%;
            padding: 0 5rem;
            margin-bottom: 3rem;
            img{
                width: 100%;
            }
        }
        .before_text{
            padding: 0 3rem;
            margin-bottom: 3rem;
            p{
                font-family: PingFangSC-Regular;
                font-size: 1.8rem;
                color: #4A4A4A;
                line-height: 3rem;
            }
        }
        .before_btn{
            border: 1px solid #31425E;
            border-radius: 2px;
            width: 15.7rem;
            height: 3.5rem;
            margin: 0 auto;
            font-family: PingFangSC-Regular;
            font-size: 17px;
            color: #31425E;
            text-align: center;
            line-height: 3.5rem;
            margin-bottom: 3rem;
        }
        .before_msg{
            width: 75%;
            margin: 0 auto;
            p{
                font-family: PingFangSC-Light;
                font-size: 12px;
                color: #000000;
                line-height: 17px;
                span{
                    opacity: 0.61;
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #000000;
                }
            }

        }
    }
</style>
