<template>
    <div class="home_model">
        <div class="home_model_bg" v-on:click="closeSelect"></div>
        <div class="home_model_body">
            <ul class="phone_model_list_body">
                <li class="phone_model_list" :class='[($store.state.activePhone && $store.state.activePhone.id) == v.id ? "active" : ""]' v-for='v in phoneArea' @click='selectPhoneList(v)'>{{v.name}}</li>
            </ul>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'AreaModel',
    data() {
		return {
            phoneActive: 1
		}
	},
    computed:mapState([
        'phoneArea',
        'activePhone'
    ]),
    methods: {
        ...mapActions([
            'getPhoneArea',
            'selectPhoneArea'
  		]),
        closeSelect () {
            this.$emit('phoneModel');
        },
        selectPhoneList (v) {
            this.selectPhoneArea(v);
            this.$emit('phoneModel');
        }
    },
	created(){
        this.getPhoneArea();

	}
}
</script>
<style lang="less">
.phone_model_list_body{
    box-sizing: border-box;
    padding: 0 1.666666666rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    .phone_model_list{
        height: 4rem;
        line-height: 4rem;
        font-family: PingFangSC-Regular;
        font-size: 1.3333333rem;
        color: #6A6B6A;
        position: relative;
        &.active{
            color: #4366A0;
            &:after{
                content: '';
                display: inline-block;
                background-image: url(../images/check.png);
                background-repeat: no-repeat;
                width: 1.5rem;
                height: 1.5rem;
                background-size: 100%;
                position: absolute;
                right: 0;
                top: 1.2rem;
            }
        }
    }
}
</style>
