<template>
    <div class="home_model">
        <div class="home_model_bg" v-on:click="closeSelect"></div>
        <div class="home_model_body">
            <div class="home_model_title">
                <div class="tab_list" :class='[tabActive == 1 ? "active" : ""]' @click='selectTab(1)'>
                    <span class="tab_line" :class='[ onNum == 1 ? "on" : ""]'>
                        {{(projects && projects.name) || '请选择'}}
                    </span>
                </div>
                <div class="tab_list" v-if="majors" :class='[tabActive == 2 ? "active" : ""]' @click='selectTab(2)'>
                    <span class="tab_line" :class='[ onNum == 2 ? "on" : ""]'>
                        {{majors && majors.name}}
                    </span>
                </div>
                <div class="tab_list" v-if="addressBooks" :class='[tabActive == 3 ? "active" : ""]' @click='selectTab(3)'>
                    <span class="tab_line" :class='[ onNum == 3 ? "on" : ""]'>
                        {{addressBooks && addressBooks.name}}
                    </span>
                </div>
            </div>
            <ul class="home_model_list_body">
                <li class="home_model_list" :class='[listActive == v.id ? "active" : ""]' v-for='v in classList' @click='selectList(v)'>{{v.name}}</li>
            </ul>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'HomeModel',
    data() {
		return {
            projects: this.$store.state.rolls && this.$store.state.rolls.projects,
            majors: this.$store.state.rolls && this.$store.state.rolls.majors,
            addressBooks: this.$store.state.rolls && this.$store.state.rolls.addressBooks,
            listActive: this.$store.state.rolls && this.$store.state.rolls.addressBooks.id,
            onNum: 0
		}
	},
    computed: {
        ...mapState([
    	  	'RollData',
            'initDataList',
            'tabActive',
            'classList',
            'rolls'
    	]),
    },
    beforeUpdate() {
        if (!this.projects || (this.projects && this.projects.name && this.projects.name == '请选择')) {
            this.onNum = 1;
        } else if (!this.majors || (this.majors && this.majors.name && this.majors.name == '请选择')) {
            this.onNum = 2;
        } else if (!this.addressBooks || (this.addressBooks && this.addressBooks.name && this.addressBooks.name == '请选择')) {
            this.onNum = 3;
        } else {
            this.onNum = 0;
        }

    },
    methods: {
        ...mapActions([
  			'addRoll',
            'toggleTab',
            'setClassList',
            'setRoll',
  		]),
        closeSelect () {
            if (!this.rolls) {
                this.addRoll({
            		projects: {name:'请选择'},
            		majors: {},
            		addressBooks: {}
            	});
                this.toggleTab(1);
                this.setClassList(this.initDataList.projects);
            }
            this.addRoll({});
            this.$emit('homeHandleSelect')
      },
      selectList(v) {
          this.listActive = v.id;
          if (this.tabActive == 1) {
              this.projects = v;
              this.toggleTab(2);
              this.majors = {
                  name: '请选择'
              }
              this.addressBooks = null;
              this.setClassList(v.majors);
          } else if (this.tabActive == 2) {
              this.majors = v;
              this.toggleTab(3);
              this.addressBooks = {
                  name: '请选择'
              }
              this.setClassList(v.addressBooks);
          } else if (this.tabActive == 3) {
              this.addressBooks = v;
               this.$emit('homeHandleSelect')
              const dataBody = {
                  projects: this.projects,
                  majors: this.majors,
                  addressBooks: this.addressBooks
              }
              this.toggleTab(3);
              this.setRoll(dataBody);
              this.addRoll({});
          }
          const dataBody = {
              projects: this.projects,
              majors: this.majors,
              addressBooks: this.addressBooks
          }
          this.addRoll(dataBody);

      },
      selectTab(index){
          this.toggleTab(index);
          if (this.tabActive == 1) {
              this.listActive = (this.RollData.projects && this.RollData.projects.id) || (this.rolls && this.rolls.projects && this.rolls.projects.id);
              this.setClassList(this.initDataList.projects);
          } else if (this.tabActive == 2) {
              this.initDataList.projects.map((v) => {
                  if (v.id == ((this.RollData.projects && this.RollData.projects.id) || (this.rolls && this.rolls.projects && this.rolls.projects.id))) {
                      this.setClassList(v.majors);
                      this.listActive = (this.RollData.majors && this.RollData.majors.id) || (this.rolls && this.rolls.majors && this.rolls.majors.id);
                  }
              })
          } else if (this.tabActive == 3) {
              this.initDataList.projects.map((v) => {
                  if (v.id == ((this.RollData.projects && this.RollData.projects.id) || (this.rolls && this.rolls.projects && this.rolls.projects.id))) {
                      v.majors.map((val) => {
                          if (val.id == ((this.RollData.majors && this.RollData.majors.id) || (this.rolls && this.rolls.majors && this.rolls.majors.id))) {
                              this.setClassList(val.addressBooks);
                              this.listActive = (this.RollData.addressBooks && this.RollData.addressBooks.id) || (this.rolls && this.rolls.addressBooks && this.rolls.addressBooks.id);
                          }
                      })
                  }
              })
          }
      }
    },
	created(){
        if (this.$store.state.classList.length == 0 && this.$store.state.tabActive == 1) {
            this.setClassList(this.initDataList.projects);
        }
        if (this.$store.state.rolls && this.$store.state.rolls.addressBooks && this.rolls.addressBooks.id) {
                this.selectTab(3)
        }
        if (!this.projects || (this.projects && this.projects.name && this.projects.name == '请选择')) {
            this.onNum = 1;
        } else if (!this.majors || (this.majors && this.majors.name && this.majors.name == '请选择')) {
            this.onNum = 2;
        } else if (!this.addressBooks || (this.addressBooks && this.addressBooks.name && this.addressBooks.name == '请选择')) {
            this.onNum = 3;
        } else {
            this.onNum = 0;
        }
		//初始化信息
	}
}
</script>

<style lang="less">
    .home_model{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        z-index: 99999;
        .home_model_bg{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            overflow: hidden;
            background: rgba(0,0,0,0.60);
            z-index: 999999;
        }
        .home_model_body{
            height: 25.833333333333332rem;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99999999;
            .home_model_title{
                background: #F6FAFF;
                height: 4.5rem;
                line-height: 4.5rem;
                box-sizing: border-box;
                padding: 0 1.555rem;
                .tab_list{
                    font-family: PingFangSC-Regular;
                    font-size: 1.2rem;
                    color: #343C48;
                    max-width: 33.33%;
                    box-sizing: border-box;
                    padding: 0 0.5rem;
                    float: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .tab_line{
                        color: #343C48;
                        &.on{
                            color: #4366A0;
                        }
                    }
                    &.active{
                        // span{
                        //     color: #4366A0;
                        // }
                        .tab_line{
                            font-size: 1.2rem;

                            font-family: PingFangSC-Regular;
                            border-bottom: 1px solid #4366A0;
                        }
                    }
                }
            }
            .home_model_list_body{
                box-sizing: border-box;
                padding: 0 2rem;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 4.5rem;
                overflow-y: auto;
                .home_model_list{
                    height: 4rem;
                    line-height: 4rem;
                    font-family: PingFangSC-Regular;
                    font-size: 1.2rem;
                    color: #6A6B6A;
                    position: relative;
                    &.active{
                        color: #4366A0;
                        &:after{
                            content: '';
                            display: inline-block;
                            background-image: url(../images/check.png);
                            background-repeat: no-repeat;
                            width: 1.5rem;
                            height: 1.5rem;
                            background-size: 100%;
                            position: relative;
                            left: 1rem;
                            // position: absolute;
                            // right: 0;
                            top: 0.4rem;
                        }
                    }
                }
            }
        }
    }
</style>
