<template>
    <div class="home_year">
        <div class="home_year_bg" v-on:click="closeSelect"></div>
        <div class="home_year_body">
            <ul class="home_year_list_body">
                <li class="home_year_list" v-for="v in yearNumber" @click='selectYear(v)'>{{v}}</li>
            </ul>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'InfoYear',
    data() {
        let yearNumber = [];
        for (let i = 1950; i <= 2017; i++) {
            yearNumber.push(i);
        }
		return {
            addressBooks: null,
            yearNumber: yearNumber.reverse()
		}
	},
    methods: {
        ...mapActions([
            'saveYear'
        ]),
        closeSelect () {
          this.$emit('homeHandleYear')
        },
        selectYear(v) {
            this.saveYear(v);
            this.closeSelect();
        }
    },
	updated(){
        // console.log(this.list)
		//初始化信息
	}
}
</script>

<style lang="less">
    .home_year{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        z-index: 99999;
        .home_year_bg{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            overflow: hidden;
            background: rgba(0,0,0,0.60);
            z-index: 999999;
        }
        .home_year_body{
            height: 23.833333333333332rem;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99999999;
            .home_year_title{
                background: #F6FAFF;
                height: 4.5rem;
                line-height: 4.5rem;
                box-sizing: border-box;
                padding: 0 1.11111rem;
                .tab_list{
                    font-family: PingFangSC-Regular;
                    font-size: 1.333333rem;
                    color: #343C48;
                    max-width: 33.33%;
                    box-sizing: border-box;
                    padding: 0 0.5rem;
                    float: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.active{
                        color: #4366A0;
                    }
                }
            }
            .home_year_list_body{
                box-sizing: border-box;
                padding: 0 2rem;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                overflow-y: auto;
                .home_year_list{
                    height: 4rem;
                    line-height: 4rem;
                    font-family: PingFangSC-Regular;
                    font-size: 1.2rem;
                    color: #6A6B6A;
                    border-bottom: 1px solid #F6F6F6;

                }
            }
        }
    }
</style>
