<template>
  	<section>
    	<div class="info_list_body" v-bind:class="{ 'marginBot' : !errorMes}">
            <div class="info_list one_list">
                <div class="info_list_left mandatory_icon">
                    <span class="info_list_left_number" @click='openModel'>{{$store.state.activePhone && $store.state.activePhone.name || '中国'}}</span>
                     &nbsp;|
                    <span class="info_list_left_text">手机</span>
                </div>
                <div class="info_list_right sanjiao">
                    <input type='text' v-model='$store.state.phone' placeholder='请输入' @input='savePhone' class='input_text' />
                </div>
            </div>
            <div class="info_list">
                <div class="info_list_left">验证码</div>
                <div class="info_list_right">
                    <span class="code_text" @click='getCode'>{{codeName}}</span>
                    <input type='text' v-model='$store.state.code' class='code_input' @input='saveCode' placeholder='请输入' />
                </div>
            </div>
            <div class="info_list">
                <div class="info_list_left">邮箱</div>
                <div class="info_list_right sanjiao">
                    <input type='text' class='input_text' v-model='$store.state.email' @input='saveEmail' placeholder='请输入' />
                </div>
            </div>
            <div class="err" v-if="errorMes">*请输入正确手机号，以便校方可以及时联系到您</div>
    	</div>
  	</section>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'InfoList',
    data() {
		return {
			codeName: '获取验证码',
            isSend: true,
            timer: null
		}
	},
    props: ['errorMes'],
    methods: {
        ...mapActions(['sendPhoneCode', 'savePhone','saveEmail', 'saveCode']),
        getCode() {
            if (!this.isSend) return ;
            const dataBody = {
                phone: this.$store.state.phone,
                cbk: () => {
                    this.isSend = false;
                    this.codeName = 60;
                    this.timer = setInterval(() => {
                        this.codeName--;
                        if (this.codeName == 0) {
                            clearInterval(this.timer);
                            this.isSend = true;
                            this.codeName = '获取验证码';
                        }
                    }, 1000)
                }
            }
            this.sendPhoneCode(dataBody)
        },
        openModel() {
            this.$emit('phoneModel');
        }
    }
}
</script>

<style lang="less">
    .info_list_body{
        background-color: #fff;
        padding: 0 2rem;
        box-sizing: border-box;
        // padding-bottom: 5rem;
        clear: both;
        overflow: hidden;
        &.marginBot{
            padding-bottom: 5rem;
        }
        .err{
            font-family: PingFangSC-Regular;
            font-size: 1.2rem;
            color: #EF6450;
            margin-bottom: 5rem;
            margin-top: 1.333333rem;
            padding: 0 2rem;
        }
        .info_list{
            height: 4.16666rem;
            line-height: 4.16666rem;
            border-bottom: 1px solid #E5E5E5;

            .info_list_left{
                float: left;
                width: 20%;
                font-family: PingFangSC-Regular;
                font-size: 1.333333rem;
                color: #343C48;
                padding-left: 9px;
                &.mandatory_icon{
                    padding-left: 0;
                    &:before{
                        display: inline-block;
                        margin-right: 4px;
                        content: "*";
                        font-family: SimSun;
                        line-height: 1;
                        font-size: 12px;
                        color: #F04134;

                    }
                }

            }
            &.one_list{
                .info_list_left{
                    width: 43%;
                    &.mandatory_icon{
                        padding-left: 0;
                        &:before{
                            display: inline-block;
                            margin-right: 4px;
                            content: "*";
                            font-family: SimSun;
                            line-height: 1;
                            font-size: 12px;
                            color: #F04134;
                            float: left;
                            margin-top: 1.5rem;

                        }
                    }
                }
                .info_list_left_number{
                    font-family: PingFangSC-Medium;
                    font-size: 1.3333333rem;
                    color: #4366A0;
                    max-width: 5.554rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    float: left;
                }
                .info_list_left_text{
                    font-family: PingFangSC-Regular;
                    letter-spacing: 0;

                }
                .info_list_right{
                    width: 55%;
                }
            }
            .info_list_right{
                float: right;
                width: 75%;
                height: 4.16666rem;
                position: relative;
                &.sanjiao{
                    &:after{
                        content: '>';
                        margin-left: 0.8rem;
                        color: #A5B6C3;
                        position: absolute;
                        right: 0;

                    }
                }

                .input_text{
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    border: none;
                    text-align: right;
                    box-sizing: border-box;
                    padding-right: 1.5rem;
                    font-size: 1.16666666rem;
                    color: #6A6B6A;
                }
                .code_text{
                    font-family: PingFangSC-Regular;
                    font-size: 1.4rem;
                    color: #31425E;
                    float: right;
                    color: #6A6B6A;
                }
                .code_input{
                    border: 1px solid #B6B7B8;
                    border-radius: 2px;
                    width: 5.8333333333333rem;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    padding: 0 0.2rem;
                    margin-top: 0.833333rem;
                    margin-right: 1.33333333rem;
                    text-align: center;
                    float: right;
                    color: #6A6B6A;
                }
            }
        }
    }
</style>
