<template>
  	<section>
    	<div class="roll" v-on:click="handleSelect">
            <div class="roll_title">
                <span class="roll_title_left">学籍信息</span>
                <div class="roll_title_right">选择</div>
            </div>
            <ul>
                <li class="roll_list">
                    <div class="roll_list_left mandatory_icon">学院</div>
                    <div class="roll_list_right">{{(this.rolls && this.rolls.projects && this.rolls.projects.name) || '请选择'}}</div>
                </li>
                <li class="roll_list">
                    <div class="roll_list_left mandatory_icon">专业</div>
                    <div class="roll_list_right">{{(this.rolls && this.rolls.majors && this.rolls.majors.name) || '请选择'}}</div>
                </li>
                <li class="roll_list">
                    <div class="roll_list_left mandatory_icon">班级</div>
                    <div class="roll_list_right">{{(this.rolls && this.rolls.addressBooks && this.rolls.addressBooks.name) || '请选择'}}</div>
                </li>
            </ul>
    	</div>
  	</section>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'Roll',
    data() {
		return {
			activeId: 3
		}
	},
    computed: mapState([
	  	'rolls'
	]),
    methods: {
        handleSelect () {
          this.$emit('homeHandleSelect')
        }
    }
}
</script>

<style lang="less">
    .roll{
        background-color: #fff;
        padding: 0 2rem;
        margin-bottom: 0.8333333rem;
        box-sizing: border-box;
        .roll_title{
            height: 4.1666666666rem;
            line-height: 4.1666666666rem;
            border-bottom: 1px solid #E5E5E5;
            .roll_title_left{
                font-family: PingFangSC-Medium;
                font-size: 1.4166666rem;
                color: #343C48;

            }
            .roll_title_right{
                float: right;
                line-height: 4.1666666666rem;
                font-family: PingFangSC-Medium;
                font-size: 1.33333333rem;
                color: #4366A0;
                &:after{
                    content: '>';
                    margin-left: 0.8rem;
                    color: #A5B6C3;
                }
            }
        }
        .roll_list{
            height: 4.1666666666rem;
            line-height: 4.1666666666rem;
            clear: both;
            overflow: hidden;
            .roll_list_left{
                width: 20%;
                float: left;
                font-family: PingFangSC-Regular;
                font-size: 1.33333333rem;
                color: #343C48;
                &.mandatory_icon{
                    padding-left: 0;
                    &:before{
                        display: inline-block;
                        margin-right: 4px;
                        content: "*";
                        font-family: SimSun;
                        line-height: 1;
                        font-size: 12px;
                        color: #F04134;

                    }
                }
            }
            .roll_list_right{
                width: 80%;
                float: right;
                text-align: right;
                font-family: PingFangSC-Regular;
                font-size: 1.4rem;
                color: #6A6B6A;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
</style>
