<template>
  	<section>
    	<div class="steps">
    	    <div class="steps_body">
                <div class="steps_list" :class='{active : (activeId == 1 || activeId == 2 || activeId == 3)}'>
                    <div class="steps_list_line"></div>
                    <div class="steps_list_main">
                        <span class="steps_list_number">1</span>
                        <span class="steps_list_text">学籍信息</span>
                    </div>
                </div>
                <div class="steps_list steps_list_center" :class='{active : (activeId == 2 || activeId == 3)}'>
                    <div class="steps_list_line"></div>
                    <div class="steps_list_main">
                        <span class="steps_list_number">2</span>
                        <span class="steps_list_text">工作信息</span>
                    </div>
                </div>
                <div class="steps_list steps_list_right":class='{active : activeId == 3}'>
                    <div class="steps_list_line"></div>
                    <div class="steps_list_main">
                        <span class="steps_list_number">3</span>
                        <span class="steps_list_text">个人信息</span>
                    </div>
                </div>
    	    </div>
    	</div>
  	</section>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'Steps',

    props: ['activeId'],
	created(){
		//初始化信息
	}
}
</script>

<style lang="less">
    .steps{
        height: 5.8333333rem;
        background-color: #fff;
        margin-top: 0.8333333rem;
        margin-bottom: 0.8333333rem;
        box-sizing: border-box;
        padding: 0 1rem;
        .steps_body{
            height: 5.8333333rem;
            padding-top: 1.5rem;
            box-sizing: border-box;
            display: -webkit-flex; /* Safari */
            display: flex;
            .steps_list{
                flex: 1;
                position: relative;
                &.active{
                    .steps_list_line{
                        background-color: #4366A0;
                    }
                    .steps_list_main{
                        .steps_list_number{
                            background-color: #4366A0;
                            color: #fff;
                        }
                        .steps_list_text{
                            color: #4366A0;
                        }
                    }
                }
                .steps_list_line{
                    height: 2px;
                    width: 100%;
                    display: inline-block;
                    background-color:rgba(140,140,140,0.40);
                    position: absolute;
                    top: 0.51666666rem;
                    left: 0;
                }
                .steps_list_main{
                    width: 4.5rem;
                    text-align: center;
                    display: inline-block;
                    position: absolute;
                    background: #fff;
                    .steps_list_number{
                        display: inline-block;
                        background: rgba(182,183,184,0.40);
                        font-family: PingFangSC-Medium;
                        font-size: 1.2rem;
                        color: #6A6B6A;
                        width: 1.6rem;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        border-radius: 50%;
                        text-align: center;
                    }
                    .steps_list_text{
                        font-family: PingFangSC-Regular;
                        font-size: 1rem;
                        color: #6A6B6A;
                        display: block;
                    }
                }
            }
            .steps_list_center{
                text-align: center;
                .steps_list_main{
                    position: inherit;
                }
            }
            .steps_list_right{
                text-align: right;
                .steps_list_main{
                    right: 0;
                }
            }
        }
    }
</style>
