<template>
  	<section>
    	<div class="work_list_body" v-bind:class="{ 'marginBot' : !errorMes}">
            <div class="work_list">
                <div class="work_list_left mandatory_icon">姓名</div>
                <div class="work_list_right">
                    <input type='text' v-model='$store.state.name' @input='saveName' placeholder='请输入' />
                </div>
            </div>
            <div class="work_list">
                <div class="work_list_left">工作单位</div>
                <div class="work_list_right">
                    <input type='text' v-model='$store.state.work' @input='saveWork' placeholder='请输入' />
                </div>
            </div>
            <div class="work_list">
                <div class="work_list_left">职位</div>
                <div class="work_list_right">
                    <input type='text' v-model='$store.state.title' @input='saveTitle' placeholder='请输入' />
                </div>
            </div>
            <div class="err" v-if="errorMes">*姓名不许为空！</div>
            <div class="err" v-if="$store.state.errorWork">*工作单位不允许超过100个字符！</div>
            <div class="err" v-if="$store.state.errorTitle">*职位不允许超过30个字符！</div>
    	</div>

  	</section>
</template>
<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'WorkList',
    props: ['errorMes'],
    methods: {
        ...mapActions(['saveName', 'saveWork', 'saveTitle']),
    },
    updated() {
    }
}
</script>

<style lang="less">
    .work_list_body{
        background-color: #fff;
        padding: 0 2rem;
        box-sizing: border-box;
        // padding-bottom: 5rem;
        clear: both;
        overflow: hidden;
        &.marginBot{
            padding-bottom: 5rem;
        }
        .err{
            font-family: PingFangSC-Regular;
            font-size: 1.2rem;
            color: #EF6450;
            margin-bottom: 5rem;
            margin-top: 1.333333rem;
            padding: 0 2rem;
        }
        .work_list{
            height: 4.16666rem;
            line-height: 4.16666rem;
            border-bottom: 1px solid #E5E5E5;
            .work_list_left{
                float: left;
                width: 25%;
                font-family: PingFangSC-Regular;
                font-size: 1.333333rem;
                color: #343C48;
                padding-left: 9px;
                box-sizing: border-box;
                &.mandatory_icon{
                    padding-left: 0;
                    &:before{
                        display: inline-block;
                        margin-right: 4px;
                        content: "*";
                        font-family: SimSun;
                        line-height: 1;
                        font-size: 12px;
                        color: #F04134;

                    }
                }
            }
            .work_list_right{
                float: right;
                width: 65%;
                height: 4.16666rem;
                position: relative;
                &:after{
                    content: '>';
                    margin-left: 0.8rem;
                    color: #A5B6C3;
                    position: absolute;
                    right: 0;

                }
                input{
                    width: 100%;
                    height: 4rem;
                    line-height: 4rem;
                    border: none;
                    text-align: right;
                    box-sizing: border-box;
                    padding-right: 1.5rem;
                    font-size: 1.16666666rem;
                    color: #6A6B6A;
                }
            }
        }
    }
</style>
