<template>
  	<div class="work_container">
        <div class="work_container_bg">
            <Steps v-bind:activeId='workIndex'></Steps>
        </div>
        <InfoList v-bind:errorMes='errorMes' v-on:phoneModel='taggleModel'></InfoList>
        <div class="roll_button" @click='sub'>提交</div>
        <div class="prev_button" @click='prev'>上一步</div>
        <AreaModel v-if="isAreaModel" v-on:phoneModel='taggleModel' />
    </div>
</template>

<script>
import Steps from '../../components/Steps.vue';
import InfoList from '../../components/InfoList.vue';
import AreaModel from '../../components/AreaModel.vue';
import { mapState, mapActions } from 'vuex';
export default {
	name: 'information',
    components: {
        Steps,
        InfoList,
        AreaModel
    },
    data() {
		return {
            errorMes: false,
            isAreaModel: false
		}
	},
    computed: {
        workIndex: {
            get() {
                if (this.$store.state.phone && this.$store.state.code) {
                    return 3
                } else {
                    return 2
                }
            },
            set() {
                if (this.$store.state.phone && this.$store.state.code) {
                    return 3
                } else {
                    return 2
                }
            }
        }
    },
    methods: {
        ...mapActions(['subConvenes']),
        sub() {
            if (this.workIndex == 3) {
                const dataBody = {
                    data: {
                        addressBookId: this.$store.state.RollData.addressBooks.id,
                        year: this.$store.state.year,
                        name: this.$store.state.name,
                        company: this.$store.state.work,
                        title: this.$store.state.title,
                        phone: this.$store.state.phone,
                        email: this.$store.state.email,
                        code: this.$store.state.code,
                        referrer: this.$route.params.id,
                        majorId: this.$store.state.RollData.majors.id,
                        projectId: this.$store.state.RollData.projects.id,
                        companyId: this.$store.state.initDataList.id,
                        countryCode: this.$store.state.activePhone.phoneCode,
                        countryId: this.$store.state.activePhone.id
                    },
                    cbk: (data) => {
                        if (data.checked == 1) {
                            this.$router.push(`/downLoad/${this.$route.params.id}`);
                        } else {
                            this.$router.push(`/success/${this.$route.params.id}`);
                        }

                    }
                }
                if (!dataBody.data.addressBookId || !dataBody.data.year || !dataBody.data.name || !dataBody.data.phone || !dataBody.data.code || !dataBody.data.referrer || !dataBody.data.majorId || !dataBody.data.projectId || !dataBody.data.companyId) return
                this.subConvenes(dataBody);

            } else {
                this.errorMes = true;
            }
        },
        taggleModel() {
            this.isAreaModel = !this.isAreaModel;
        },
        prev() {
            this.$router.push(`/work/${this.$route.params.id}`);
        }
    },
    created() {
        if (!this.$store.state.initDataList) {
            this.$router.push(`/${this.$route.params.id}`);
        }
    },
    beforeUpdate(){

    }
}
</script>

<style lang="less" scoped>
    .work_container{
        // background-color: #F6F6F6;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow: hidden;
        .work_container_bg{
            background-color: #F6F6F6;
            height: 7.5rem;
            box-sizing: border-box;
            float: left;
            width: 100%;
            // padding-top: 0.8333333rem;
        }
        .roll_button{
            width: 84%;
            margin: 0 auto;
            margin-bottom: 3rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            font-size: 1.7rem;
            color: #FFFFFF;
            background: #31425E;
            border-radius: 5px;

        }
        .prev_button{
            width: 84%;
            margin: 0 auto;
            margin-bottom: 3rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            font-size: 1.7rem;
            color: #31425E;
            border-radius: 5px;
            border: 1px solid #31425E;
        }
    }
</style>
